hr{
    background-color:transparent ;
    border-style:none;
    border-top-style:dotted;
    border-color: green;
    border-width: 5px;
    width: 5%;
}
body{
    background-color:#F6FBF4
}
h4{
    text-align: left;
}
h3{
    color: #4B8673;
    text-align: center;
}
h2{
    text-align: center;
    color: #4B8673;
}
h1{
    color: #4B8673;
}
td{
    text-align: left;
}
label{
    color: #4B8673;
}
a{
    color: #4B8673;
}